body {
    background-image: url("/other/noise.svg");
    overflow: hidden;
    /* background-repeat: repeat; */ 
}

#whole-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
}


#left-half {
    width: 60vw;
    display: flex;
    justify-content: center; align-items: center;
}

#right-half {
    width: 40vw;
    display: flex;
    justify-content: center; align-items: center;
}


#selection {
    width: 500px;
    height: 500px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 2px;
}

#search-city {
    /* border: 0; */
    /* border-style: dotted; */
    border-color: transparent;
    border-radius: 15px;
    outline: 0;
}

.result-box {
    background-color: white;

}